
###> symfony/framework-bundle ###
/.env
/docs/
/docs
/.cursor/
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env.*
.env.test.*
.env.test.local
.env.test.local.php
.env.test.local.*
.env.test.local.*.php
.env.test.local.*.*
.env.test.local.*.*.php
.env.test.local.*.*.*
.env.test.local.*.*.*.php
.env.test.local.*.*.*.*
.env
.env.local
.env.dev
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/config/packages/messenger.yaml
/config/packages/messenger-prod.yaml
###< symfony/asset-mapper ###
